@font-face {
  font-family: GeosansLight;
  src: url("../fonts/GeosansLight.ttf"); }
* {
  font-family: "GeosansLight";
  font-size: 20px;
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=_default.css.map */
