//----------------------------------- VALORES POR DEFECTO -------------------------------------


//FUENTE GLOBAL

//GeosansLight;

@font-face{
	font-family:GeosansLight;
	src:url('../fonts/GeosansLight.ttf');
}


//VARIABLES

$font-generic-text: 'Arial';
$fontSize:30px;


//PLACEHOLDERS

%headersColor{
	color:#202020;
}


*{
	font-family:$font-generic-text;
	font-size:$fontSize;
	margin:0;
	padding:0;
	text-decoration:none;
}