h1{
	@extend %headersColor;
	font-size:$fontSize*2;
}

h2{
	@extend %headersColor;
	font-size:$fontSize*1.8;
}

h3{
	@extend %headersColor;
	font-size:$fontSize*1.6;
}

h4{
	@extend %headersColor;
	font-size:$fontSize*1.4;
}

h5{
	@extend %headersColor;
	font-size:$fontSize*1.2;
}

h6{
	@extend %headersColor;
}