input[type='color']{

}

input[type='number']{

}

input[type='range']{

}

input[type='date']{

}

input[type='month']{

}

input[type='week']{

}

input[type='datetime']{

}

input[type='datetime-local']{

}