a{
	&:hover{

	}
	&:active{

	}
	&:link{

	}
	&:visited{

	}
}

abbr{

}

b{

}

cite{

}

code{

}

del{

}

dfn{

}

em{

}

i{

}

mark{

}

samp{

}

small{

}

s{

}

strong{

}

sub{

}

sup{

}

u{

}

var{

}